.footer {
  padding: 0px 135px;
  background-color: rgb(14, 16, 20);
  display: flex;
  justify-content: space-around;
  .footer_footer {
    width: 100%;
    display: flex;
  justify-content: space-around;
  padding: 80px 12px;
  flex-wrap: wrap;

    img {
      width: 80px;
      height: 15px;
    }
  }
  @media(max-width:407px){
    .footer_footer{
      text-align: center;
      flex-direction: column;
    }
  }
   .footer_par{
       color:white;
       font-size: 20px;
       margin: 0px;
   }
   .footer_ul{
       list-style: none;
       padding: 0px;
       
       .footer_link{
        color:#909090;
        text-decoration: none;
       }
   }
}
@media(max-width:972px){
  .footer{
    padding: 0px 30px;
  }
}
